
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: Lato;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img{
    max-width: 100%;
    height: auto;
}
figure{
    margin: 0;
}

.wrapper{
    max-width: 1062px;
    margin: 0 auto;
}

.wrapper-full{
    max-width: 1262px;
    margin: 0 auto;

}
/*Header Styles Start*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear;
    padding-bottom: 20px;
    z-index: 999;
}

.header_active{
    background:#0E1D28;
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header__list{
    display:flex;
    flex-wrap: wrap;

}

.header__item{
    margin-right: 82px;
}

.header__item:last-child{
    margin-right: 0;
}

.header__link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    transition: opacity 1s ease;
}

.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
    border-bottom: 1px solid white;

}
/*Header Styles End*/


/*Intro Styles Strat*/

.intro{
    min-height: 100vh;
    background: url("../img/intro-bg.jpg") no-repeat center;
    background-size: cover;
    padding-top: 263px;
}

.intro__title{
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    max-width: 619px;
    margin-bottom: 22px;
}

.intro__subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    max-width: 546px;
    margin-bottom: 59px;
}

.search-form__info{
    display: flex;
    flex-wrap: wrap;
}

.search-form__field{
    width: 297px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    background: transparent url("../img/SVG/circle-icon.svg") no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;

}

.search-form__field::placeholder{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-form__submit{
    padding: 15px 39px ;
    background: #1B7DFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0;
    transition: background-color 1s;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active{
    background-color: #1153b4;
}
/*Intro Styles End*/

/*Benefits Styles Start*/

.benefits__wrapper{
    max-width: 1262px;
    background: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
    margin-bottom: 112px;
}

.benefits__title{
    width:100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px ;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: white;
}

.benefits__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits__card{
    grid-column: span 1;
    margin-bottom: 112px;
}

.card__pic{
    min-width: 66px;
    margin-bottom: 37px;
}

.card__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 26px;
}

.card__info{
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 39px;
}

.learn-more{
    text-decoration: none;
    font-weight: 400;
    line-height: 24px;
    padding-right: 59px;
    text-transform: uppercase;
    background: url("../img/SVG/arrow-right.svg") no-repeat 95% center;
    transition: .2s all;
}

.learn-more:hover, .learn-more:focus{
    background: url("../img/SVG/arrow-right.svg") no-repeat right center;
}

/*Benefits Styles End*/

/*Collage Start*/
.collage{
    margin-bottom: 131px;
}

.collage__wrapper-head{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 36px;
}

.collage__title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    position: relative;
    padding-bottom: 7px;
    margin-right: 15px
}
.collage__title::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 253px;
    background: #006DFE;
}
.collage__view-all{
    padding-bottom: 7px;
}

.collage__pics{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
}

.pics-large{
    grid-column: span 3;
}

.img-large{
    height: 354px;
    object-fit: cover;
    width: 100%;
    transition: all 1s;

}

.pics{
    position: relative;
    overflow: hidden;
}

.pics::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.pics:hover .img{
    transform: scale(1.05) ;
}

.pic-text-large{
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.img-small{
    height: 283px;
    object-fit: cover;
    width: 100%;
    transition: all 1s;
    padding-top: 10px;
}

.pics-small{
    grid-column: span 2;
}

/*Collage End*/

/*Tours Start*/
.tours{
    margin-bottom: 139px;
}
.tours__tour{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tour__title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour__desk{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
    max-width: 519px;
}

.tour__info{
    padding-left: 47px;
}

/*Tours Finish*/

/*Top Start*/

.top{
    margin-bottom: 144px;
}

.top__title{
    margin-bottom: 86px;
}

.top__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}

.top__card{
    display: flex;
    flex-direction: column;
}

.top__card-pic{
    position: relative;
    margin-bottom: 45px;
}

.top__card-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 15px 25px;
}


.top__card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin: 0 auto 0 0;
}

.top__card-likes{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 20px;
    margin-right: 14px;
    background: url("../img/SVG/likes.svg")no-repeat right;
}

.top__card-comments{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 23px;
    background: url("../img/SVG/comment.svg")no-repeat right;
}

.top__card-desk{
    line-height: 24px;
    margin-bottom: 31px;
}

.top__card-more {
    padding: 12px 19px;
    background: #006DFE;;
    text-decoration: none;
    color: #FFFFFF;
    transition: background-color 1s ease;
    width: 118px;
    margin: auto 0 0 0;
}

.top__card-more:hover,
.top__card-more:active,
.top__card-more:focus{
    background-color: #1153b4;
}
/*Top End*/

/*Video Start*/

.videos{
    width: 100%;
}

.videos__wrapper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video__item{
    padding-top: 56.25%;
}

.video__element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Video End*/

/*Footer Start*/

footer{
    background: #0E1D28;
    padding: 119px 0;
}

.footer__item{
    display: flex;
    flex-wrap: wrap;
}

.footer__logo{
    width: 50%;
}

.footer__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.footer__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__menu-link{
    text-decoration: none;
    line-height: 24px;
    color: #FFFFFF;
}
.footer__menu-link:hover,
.footer__menu-link:focus,
.footer__menu-link:active {
    opacity: .75;
    border-bottom: 1px solid white;
}
/*Footer End*/